<div class = "container-fluid">

  <div class = "row">
    <div class="col-xs-10">
      <input class="form-control" type="text">

    </div>

    <div class = "col-xs-2">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class = "col-lg-12">
    <div class="row">

      <div class ="col-sm-9">
      </div>

      <div class="demo col-sm-3">
        <h3>Vertical layout</h3>

        <ul class="progress-tracker progress-tracker--vertical">

          <li ng-repeat="state in states" class="progress-step is-complete" >
            <span class="progress-marker"></span>
            <span class="progress-text">
              <h4 class="progress-title">Step 1</h4>
              {{state.text}}
            </span>
          </li>
          <!-- <li class="progress-step is-complete" >
          <span class="progress-marker"></span>
          <span class="progress-text">
          <h4 class="progress-title">Step 1</h4>
          Summary text explaining this step to the user
        </span>
      </li>
      <li class="progress-step is-complete">
      <span class="progress-marker"></span>
      <span class="progress-text">
      <h4 class="progress-title">Step 2</h4>
      Summary text explaining this step to the user
    </span>
  </li>
  <li class="progress-step is-active">
  <span class="progress-marker"></span>
  <span class="progress-text">
  <h4 class="progress-title">Step 3</h4>
  Summary text explaining this step to the user
</span>
</li>
<li class="progress-step">
<span class="progress-marker"></span>
<span class="progress-text">
<h4 class="progress-title">Step 4</h4>
Summary text explaining this step to the user
</span>
</li>
<li class="progress-step">
<span class="progress-marker"></span>
<span class="progress-text">
<h4 class="progress-title">Step 5</h4>
Summary text explaining this step to the user
</span>
</li> -->
</ul>

</div>
</div>
</div>
</div>
