<div class="container-fluid">

    <div class="row">
        <div class="col-xs-10">
            <input class="form-control" type="text">

        </div>

        <div class="col-xs-2">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">

            <div class="col-sm-7">


                <h3>My Google Maps Demo</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
                            <ng-map center="41,-87" zoom="3"></ng-map>
                        </div>
                    </div>
                </div>
            </div>

            <div class="demo col-sm-5">
                <h3>Asset Tracking Log</h3>

                <ul class="progress-tracker progress-tracker--vertical">

                    <li ng-repeat="state in states track by $index" class="progress-step is-complete">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
              <h4 class="progress-title">Step {{$index}}</h4>
              {{state}}
            </span>
                    </li>
                    <!-- <li class="progress-step is-complete" >
          <span class="progress-marker"></span>
          <span class="progress-text">
          <h4 class="progress-title">Step 1</h4>
          Summary text explaining this step to the user
        </span>
      </li>
      <li class="progress-step is-complete">
      <span class="progress-marker"></span>
      <span class="progress-text">
      <h4 class="progress-title">Step 2</h4>
      Summary text explaining this step to the user
    </span>
  </li>
  <li class="progress-step is-active">
  <span class="progress-marker"></span>
  <span class="progress-text">
  <h4 class="progress-title">Step 3</h4>
  Summary text explaining this step to the user
</span>
</li>
<li class="progress-step">
<span class="progress-marker"></span>
<span class="progress-text">
<h4 class="progress-title">Step 4</h4>
Summary text explaining this step to the user
</span>
</li>
<li class="progress-step">
<span class="progress-marker"></span>
<span class="progress-text">
<h4 class="progress-title">Step 5</h4>
Summary text explaining this step to the user
</span>
</li> -->
                </ul>

            </div>
        </div>
    </div>
</div>
