<div class="container-fluid" style="margin:0 auto;">
    <div id="moving-row" class="col-lg-12" style="padding:10px;" ng-style="{'margin-top': !showMap ? '100px':'0', 'box-shadow' : !showMap? '10px 10px 15px #888888' : ''}">
        <div class="row">
            <h4 ng-style="{'visibility': !showMap ? 'visible':'hidden', 'display': !showMap ? 'block':'none'}" class="col-lg-9">Enter product id to search</h4>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <input style="margin-bottom:5px;" id="searchTerm" class="form-control" type="text" ng-model="searchTerm" placeholder="Product id to search">
            </div>

            <div class="col-lg-3">
                <button id="btnSearch" type="button" class="btn btn-md btn-block-custom btn-primary" ng-click="searchButtonClick()">
                    Search
                </button>
                <button type="button" class="btn btn-md btn-block-custom btn-primary" onclick="showQRScannerTracking()">
                    Scan QR
                </button>
            </div>
        </div>
        <div class="row">
            <div ng-bind="searchErr" style="text-align:center; color:red; min-height:10px;"></div>
        </div>
    </div>
    <div ng-style="{'visibility': showMap ? 'visible':'hidden'}" style="margin-top:5px;" class="col-lg-12">
        <div class="row">

            <div class="col-lg-12" style="box-shadow: 10px 10px 15px #888888; padding-bottom: 10px;">

                <h3>Product Tracking Visuals</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
                            <ng-map center="41,-87" zoom="3" style="height:450px;"></ng-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="demo col-lg-12" style="box-shadow: 10px 10px 15px #888888; margin-top:20px;">
                <div class="col-lg-offset-5 col-lg-3">
                    <h3>Asset Tracking Log</h3>

                    <ul class="progress-tracker progress-tracker--vertical">

                        <li ng-repeat="state in states track by $index" class="progress-step is-complete" style="margin-bottom:10px;">
                            <span class="progress-marker"></span>
                            <span class="progress-text">
                             <div style=" max-width:270px; box-shadow: 10px 10px 5px #888888; padding: 10px; margin-left: -10px;">
                            <h4 class="progress-title">Step {{$index + 1}}</h4>
                            <h5 class="progress-title">stakeHolder: {{state.address}}</h5>
                            <div ng-repeat="test in state.tests">
                                <ul class="featureList">
                                    <li ng-class="{ tick: test.expectedResult == test.actualResult, cross: test.expectedResult != test.actualResult }">
                                        &nbsp;&nbsp;&nbsp;{{test.objective}}
                                    </li>
                                </ul>

                            </div>
                             </div>
                        </span>
                        </li>
                        <!-- <li class="progress-step is-complete" >
              <span class="progress-marker"></span>
              <span class="progress-text">
              <h4 class="progress-title">Step 1</h4>
              Summary text explaining this step to the user
            </span>
          </li>
          <li class="progress-step is-complete">
          <span class="progress-marker"></span>
          <span class="progress-text">
          <h4 class="progress-title">Step 2</h4>
          Summary text explaining this step to the user
        </span>
      </li>
      <li class="progress-step is-active">
      <span class="progress-marker"></span>
      <span class="progress-text">
      <h4 class="progress-title">Step 3</h4>
      Summary text explaining this step to the user
    </span>
    </li>
    <li class="progress-step">
    <span class="progress-marker"></span>
    <span class="progress-text">
    <h4 class="progress-title">Step 4</h4>
    Summary text explaining this step to the user
    </span>
    </li>
    <li class="progress-step">
    <span class="progress-marker"></span>
    <span class="progress-text">
    <h4 class="progress-title">Step 5</h4>
    Summary text explaining this step to the user
    </span>
    </li> -->
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeQRScanner()" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Scan a QR Code</h4>
                </div>
                <div class="modal-body modal-body-override">
                    <div id="outdiv">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="closeQRScanner()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <canvas id="qr-canvas" width="800" height="600" style="display:none; visibility:hidden"></canvas>
    <script type="text/javascript">
        function showQRScannerTracking() {

            var rd = function(a) {
                var val = a;
                var splitPipes = val.split('|');
                var len = splitPipes.length;

                for (var i = 0; i < len; i++) {
                    var splitEquals = splitPipes[i].split("=");
                    var lhs = splitEquals[0].trim();
                    var rhs = splitEquals[1].trim();

                    if (lhs === "productId") {
                        document.getElementById("searchTerm").value = rhs;
                        var requiredElemScope = angular.element(document.getElementById('searchTerm')).scope();
                        requiredElemScope.searchTerm = rhs;
                    }
                }

                for (var x = 0; x < timeOutArray.length; x++) {
                    clearTimeout(timeOutArray[x]);
                }

                strm.getVideoTracks()[0].stop();
                $('#myModal').modal("hide");
                $('#btnSearch').click();
            };
            load(rd);

            $('#myModal').modal("show");
        }
    </script>

</div>
