
<!--BEGIN INPUT TEXT FIELDS-->
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="box dark">
			<header>
				<div class="icons">
					<i class="fa fa-edit"></i>
				</div>
				<h5>Contract Details</h5>
				<!-- .toolbar -->
				<div class="toolbar">
					<nav style="padding: 8px;">
						<a href="javascript:;" class="btn btn-default btn-xs collapse-box">
							<i class="fa fa-minus"></i>
						</a> <a href="javascript:;" class="btn btn-default btn-xs full-box">
							<i class="fa fa-expand"></i>
						</a> <a href="javascript:;" class="btn btn-danger btn-xs close-box">
							<i class="fa fa-times"></i>
						</a>
					</nav>
				</div>
				<!-- /.toolbar -->
			</header>
			<div id="div-1" class="body">
				<form class="form-horizontal">

					<div class="form-group">
						<label for="txtProductId"
							class="control-label col-lg-3 col-lg-offset-2">Id</label>

						<div class="col-lg-5">
							<input type="text" id="txtProductId" placeholder="Contract Id"
								class="form-control" ng-model="contract.id">
						</div>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label for="txtContractName"
							class="control-label col-lg-3 col-lg-offset-2">Contract Name</label>

						<div class="col-lg-5">
							<input type="text" id="txtContractName" placeholder="Contract Name"
								class="form-control" ng-model="contract.name">
						</div>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-label col-lg-3 col-lg-offset-2">Product Category</label>

						<div class="col-lg-5">
							<select data-placeholder="Choose a category"
								class="form-control chzn-select" tabindex="2" ng-model="contract.category">
								<option value=""></option>
								<option value="Antipyretics">Antipyretics</option>
								<option value="Antimalarial drugs">Antimalarial drugs</option>
								<option value="Antibiotics">Antibiotics</option>
								<option value="Analgesics">Analgesics</option>
								<option value="Antiseptics">Antiseptics</option>
								<option value="Mood stabilizers">Mood stabilizers</option>
								<option value="Hormone replacements">Hormone
									replacements</option>
								<option value="Oral contraceptives">Oral contraceptives</option>
								<option value="Stimulants">Stimulants</option>
								<option value="Tranquilizers">Tranquilizers</option>
								<option value="Statins">Statins</option>
							</select>
						</div>
					</div>



					<div class="form-group">
						<div class="col-lg-2">
						</div>	

						<div class="col-lg-3">
							<input type="text" id="key1" placeholder="sensor_value" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="contract.key1">					
						</div>	
							
						<div class="col-lg-5">
							<input type="text" id="value1"
								placeholder="20" class="form-control" ng-model="contract.value1">
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-2">
						</div>	

						<div class="col-lg-3">
							<input type="text" id="key2" placeholder="PH value" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="contract.key2">					
						</div>	
							
						<div class="col-lg-5">
							<input type="text" id="value2"
								placeholder="20" class="form-control" ng-model="contract.value2">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-2">
						</div>	

						<div class="col-lg-3">
							<input type="text" id="key3" placeholder="alcohol_content" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="contract.key3">					
						</div>	
							
						<div class="col-lg-5">
							<input type="text" id="value3"
								placeholder="20" class="form-control" ng-model="contract.value3">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-2">
						</div>	

						<div class="col-lg-3">
							<input type="text" id="key4" placeholder="temperature" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="contract.key4">					
						</div>	
							
						<div class="col-lg-5">
							<input type="text" id="value4"
								placeholder="20" class="form-control" ng-model="contract.value4">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-2">
						</div>	

						<div class="col-lg-3">
							<input type="text" id="key5" placeholder="humidity" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="contract.key5">					
						</div>	
							
						<div class="col-lg-5">
							<input type="text" id="value5"
								placeholder="20" class="form-control" ng-model="contract.value5">
						</div>
					</div>															
					<!-- /.form-group -->

					<div class="form-group">
						<div class="col-lg-6 col-lg-offset-4">
							<button class="btn btn-md btn-success btn-block" ng-click="registercontract()">Register</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!--END TEXT INPUT FIELD-->
</div>
<!-- /.row -->
