
<!--BEGIN INPUT TEXT FIELDS-->
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<div class="box dark" style="box-shadow: 10px 10px 5px #888888;">
			<header>
				<div class="icons">
					<i class="fa fa-edit"></i>
				</div>
				<h5>Product Details</h5>
			</header>
			<div id="div-1" class="body" style="padding:15px;">
				<form class="form-horizontal">

					<div class="form-group">
						<label for="txtProductId"
							class="control-label col-lg-3 col-lg-offset-2">Id</label>

						<div class="col-lg-5">
							<input type="text" id="txtProductId" placeholder="Product Id"
								class="form-control" ng-model="product.id">
						</div>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label for="txtProductName"
							class="control-label col-lg-3 col-lg-offset-2">Product Name</label>

						<div class="col-lg-5">
							<input type="text" id="txtProductName" placeholder="Product Name"
								class="form-control" ng-model="product.name">
						</div>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label for="txtProductDescription"
							class="control-label col-lg-3 col-lg-offset-2">Description</label>

						<div class="col-lg-5">
							<input type="text" id="txtProductDescription"
								placeholder="Description" class="form-control" ng-model="product.description">
						</div>
					</div>
					<!-- /.form-group -->



					<div class="form-group">
						<label class="control-label col-lg-3 col-lg-offset-2">Category</label>
						<div class="col-lg-5">
							<select id="selectCategory" data-placeholder="Choose a category"
								class="form-control chzn-select" tabindex="2" ng-model="product.category">
								<option value=""></option>
								<option value="Antipyretics">Antipyretics</option>
								<option value="Antimalarial drugs">Antimalarial drugs</option>
								<option value="Antibiotics">Antibiotics</option>
								<option value="Analgesics">Analgesics</option>
								<option value="Antiseptics">Antiseptics</option>
								<option value="Mood stabilizers">Mood stabilizers</option>
								<option value="Hormone replacements">Hormone
									replacements</option>
								<option value="Oral contraceptives">Oral contraceptives</option>
								<option value="Stimulants">Stimulants</option>
								<option value="Tranquilizers">Tranquilizers</option>
								<option value="Statins">Statins</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-6 col-lg-offset-4">
							<button class="btn btn-md btn-success btn-block" ng-click="register()">Register</button>
							<button type="button" class="btn btn-md btn-primary btn-block" data-toggle="modal" data-target="#myModal">
								Launch QRScanner
							</button>
						</div>
					</div>

					<div class="form-group" ng-bind="registerErr" style="text-align:center; color:red"></div>
					<div class="form-group" ng-show="showMsg" style="text-align:center; color:green">Product registered successfully, redirecting to asset tracking page in {{timer}}</div>
				</form>
			</div>
		</div>
	</div>

	<!--END TEXT INPUT FIELD-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Scan a QR Code</h4>
				</div>
				<div class="modal-body">
					<div id="outdiv">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->
	<canvas id="qr-canvas" width="800" height="600" style="display:none; visibility:hidden"></canvas>
	<script type="text/javascript">
        function read(a)
        {
            var val = a;
            var splitPipes = val.split('|');
            console.log(splitPipes);
            var len = splitPipes.length;

            for(var i=0; i<len; i++){
                var splitEquals = splitPipes[i].split("=");
                var lhs = splitEquals[0].trim();
                var rhs =  splitEquals[1].trim();

                if(lhs === "productId")
                    document.getElementById("txtProductId").value = rhs;
                else if(lhs === "productName")
                    document.getElementById("txtProductName").value = rhs;
                else if(lhs === "productDescription")
                    document.getElementById("txtProductDescription").value = rhs;
                else if(lhs === "productCategory")
                    document.getElementById("selectCategory").value = rhs;
            }

            $('#myModal').modal("hide");
        }
		load();
	</script>
</div>
<!-- /.row -->
